<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <form action="" class="form-inline" (submit)="SearchUser()">
                <div  class="search" name="user" > <i class="fa fa-search"></i> <input type="text" name="user" [(ngModel)]="githubUserQuery" class="form-control" placeholder="Search for user">
                    <button class="btn btn-primary" type="submit" value="Search">Search  <i class="fa fa-github"></i> </button> </div>                    
            </form>
        </div>
    </div>
    <br><br><br>
    <div class="row">
        <div class="col">
          <app-github-profile [githubProfile]="githubProfile" >
          </app-github-profile>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-repos [githubRepos]="githubRepos" >

            </app-github-repos>
        </div>
    </div>
</div>
