
<main>
  <aside>
    <img src="https://avatars.githubusercontent.com/u/86958781?s=400&u=2544abf0ecb3c24b33dbc4424b782919f3b01b50&v=4">
   <a href="https://github.com/Tee-Mureithi"><h3>Estar Mureithi.</h3></a> 
    <h4 class="username grey-text">Tee-Mureithi</h4>
    <p class="grey-text bio">Full Stack web developer with love for code🍨👋</p>
    <p class="grey-text">Block or report user</p>
    <hr class="seperator">
    <p>📍 Nairobi, Kenya</p>
    <p>✉️ <a href="">Search github </a></p>
    <p>🔗 <a href="">https://w3cj.now.sh</a></p>
  </aside>
  <section class="responsive">
    <nav>
      <ul class="repo-nav">
        <li>Overview</li>
        <li>Repositories</li>
        <li>Stars</li>
        <li>Followers</li>
        <li>Following</li>
      </ul>
    </nav>
    <h3 class="repos-title">Pinned Repository</h3>
    <section class="repositories">
      <div class="pinned-repo-wrapper">
        <div class="pinned-repo" style="border:none!important;">
         <a href="https://github.com/Tee-Mureithi/my-portfolio"> <h3>my-portfolio</h3></a>
          <p>Pre-generated materialize css color combinations. https://w3cj.github.io/materialize-themes/</p>
          <ul class="stats">
            <li>
              <span class="icon">🔵</span>
              <span>HTML</span>
            </li>
            <li>
              <span class="icon">⭐️</span>
              <span>32</span>
            </li>
            <li>
              <span class="icon">🍴</span>
              <span>5</span>
            </li>
          </ul>
        </div>
      </div>

      
      
    </section>
  </section>
</main>