
<main>
  <aside>
    <img src="https://avatars.githubusercontent.com/u/86958781?v=4">
    <h3>Esther Wangari</h3>
    <h4 class="username grey-text">Tee-Mureithi</h4>
    <p class="grey-text bio">I love knowing how application come into existence and creating them🥰👋</p>
    <hr class="seperator">
    <p>📍 Nairobi, Kenya</p>
    <p>🔗 <a href="https://github.com/Tee-Mureithi" target="_blank">https://github.com/Tee-Mureithi</a></p>
  </aside>
  <section class="responsive">
    <nav>
      <ul class="repo-nav">
        <li>Overview</li>
        <li>16 Repositories</li>
        <li>2 Stars</li>
        <li>1 Followers</li>
        <li>3 Following</li>
      </ul>
    </nav>
    <h3 class="repos-title">Pinned Repository</h3>
    <section class="repositories">
      <div class="pinned-repo-wrapper">
        <div class="pinned-repo" style="border:none!important;">
          <h3>my-portfolio</h3>
          <p>This is a website that shows the portfolio of Esther Wangari ,the projects she has designed and some facts about her for example her hobbies.It also explains the languages that she uses.</p>
          <ul class="stats">
            <li>
              <span class="icon">🟠</span>
              <span>HTML</span>
            </li>
            <li>
              <span class="icon">⭐️</span>
              <span>2</span>
            </li>
            <li>
              <span class="icon">🍴</span>
              <span>5</span>
            </li>
          </ul>
          <a href="https://github.com/Tee-Mureithi?tab=repositories"><p> 🔗 all repositories</p></a>
          
        </div>
      </div>

      
      
    </section>
  </section>
</main>