
<main>
  <aside>
    <img src="https://avatars.githubusercontent.com/u/59703802?v=4">
    <h3>Fortune Dev.</h3>
    <h4 class="username grey-text">Tee-Mureithi</h4>
    <p class="grey-text bio">Full Stack web developer with love for code🍨👋</p>
    <p class="grey-text">Block or report user</p>
    <hr class="seperator">
    <p>📍 Nairobi, Kenya</p>
    <p>✉️ <a href="">Search github </a></p>
    <p>🔗 <a href="">https://w3cj.now.sh</a></p>
  </aside>
  <section class="responsive">
    <nav>
      <ul class="repo-nav">
        <li>Overview</li>
        <li>Repositories</li>
        <li>Stars</li>
        <li>Followers</li>
        <li>Following</li>
      </ul>
    </nav>
    <h3 class="repos-title">Pinned Repository</h3>
    <section class="repositories">
      <div class="pinned-repo-wrapper">
        <div class="pinned-repo" style="border:none!important;">
          <h3>materialize-themes</h3>
          <p>Pre-generated materialize css color combinations. https://w3cj.github.io/materialize-themes/</p>
          <ul class="stats">
            <li>
              <span class="icon">🔵</span>
              <span>HTML</span>
            </li>
            <li>
              <span class="icon">⭐️</span>
              <span>32</span>
            </li>
            <li>
              <span class="icon">🍴</span>
              <span>5</span>
            </li>
          </ul>
        </div>
      </div>

      
      
    </section>
  </section>
</main>